factorydata/pipeline/append_array_var.json
{
	"name": "append_array_var",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "golf scores",
					"value": {
						"value": "int(84)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@variables('golf scores')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"golf scores": {
				"type": "Array",
				"defaultValue": [
					86,
					85,
					88,
					72
				]
			},
			"output": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Control Flow Activities"
		},
		"annotations": []
	}
}