factorydata/pipeline/if_condition.json
{
	"name": "if_condition",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(pipeline().parameters.user_select)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute Pipeline2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "fail_activity",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "return_var",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "user_name",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.user_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "course",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.course",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"user_select": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"user_name": {
				"type": "String"
			},
			"course": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Control Flow Activities"
		},
		"annotations": []
	}
}